<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RS485_HOST</key>
	<string>192.168.0.254</string>
	<key>RS485_PORT</key>
	<integer>8899</integer>
	<key>MQTT_PORT</key>
	<integer>1883</integer>
	<key>MQTT_HOST</key>
	<string>192.168.0.100</string>
	<key>MQTT_USERNAME</key>
	<string>admin</string>
	<key>MQTT_PASSWORD</key>
	<string>admin</string>
</dict>
</plist>
